@import url("https://use.typekit.net/hwn4thy.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "greycliff-cf", sans-serif;
    color: #022728;
}

body.menu-lateral-aberta {
    overflow: hidden;
}

h3 {
    font-weight: 900;
}

.card-promocional {
    background-color: #022728;
    padding: 12px;
    align-items: center;
}

.card-promocional div {
    max-width: 908px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: auto;
}

.card-promocional strong {
    color: white;
}

.card-promocional p {
    font-weight: 300;
    color: white;
    line-height: 19px;
}

.card-promocional a {
    background-color: #d98e04;
    color: white;
    padding: 8px 24px;
    border-radius: 6px;
    font-size: 16px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.card-promocional a:hover {
    background-color: #e99a08;
    transition-duration: .5s;
}

.card-promocional a:active {
    background-color: #d98e04;
}

@media (max-width: 999px) {
    .card-promocional div {
        display: block;
        text-align: center;
    }

    .card-promocional p {
        margin-bottom: 22px;
        margin: auto;
        margin-bottom: 16px;
        width: 96%;
    }

    .card-promocional {
        padding: 22px 0;
    }
}

header {
    width: 1366px;
    margin: 25px auto 0;
}

@media (max-width: 999px) {
    header {
        width: 90%;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 4px;
    background-color: #022728;
    margin: 6px;
    border-radius: 100px;
}

.menu-principal .logo-zohar {
    width: 145px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin-left: 30px;
}

.nav-list a {
    font-weight: 300;
    text-decoration: none;
    text-align: left; /* Alinhamento à esquerda */
}

.menu-lateral {
    display: none;
}

@media (max-width: 999px) {
    nav {
        margin-bottom: 40px;
    }

    .nav-list {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    /* Menu Responsivo Lateral*/
    .menu-lateral {
        top: 0;
        right: 0;
        position: absolute;
        background-color: #022728;
        height: 100vh;
        width: 100vw;
        display: none;
    }

    .menu-lateral section {
        width: 90%;
        margin: 26px auto;
    }

    .menu-lateral section #icone-x {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        width: 60px;
        cursor: pointer;
    }

    .menu-lateral section h2 {
        color: white;
        text-align: center;
        margin-top: 90px;
        margin-bottom: 40px;
        font-size: 24px;
    }

    .menu-lateral ul {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .menu-lateral li {
        background-color: #31363f;
        padding: 18px;
        border-radius: 10px;
        width: 100%;
    }

    .menu-lateral li:hover {
        background-color: #464d58;
        transition: all .5s;
    }

    .menu-lateral ul li a {
        text-decoration: none;
    }

    .menu-lateral ul li a {
        display: block;
    }

    .menu-lateral ul li a {
        margin: auto;
        text-align: center;
    }

    .menu-lateral ul li img {
        width: 36px;
    }

    .menu-lateral ul li h4 {
        color: white;
        font-size: 16px;
        margin: 10px 0;
    }

    .menu-lateral ul li p {
        color: white;
        line-height: 18px;
        font-size: 11px;
    }

    .btn-contato-responsivo {
        background-color: #d98e04;
        color: white;
        padding: 14px 44px;
        border-radius: 6px;
        font-size: 18px;
        border: none;
        width: 100%;
        display: block;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        margin-top: 40px;
    }

    .btn-contato-responsivo:hover {
        background-color: #e99a08;
        transition-duration: .5s;
    }
    
    .btn-contato-responsivo:active {
        background-color: #d98e04;
    }
}

.btn-contato {
    background-color: #d98e04;
    color: white;
    padding: 8px 44px;
    border-radius: 6px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.btn-contato:hover {
    background-color: #e99a08;
    transition-duration: .5s;
}

.btn-contato:active {
    background-color: #d98e04;
}

.menu-principal menu {
    display: flex;
    align-items: center;
}

.menu-principal menu a img {
    width: 10px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 76px;
}

.hero div {
    max-width: 580px;
}

.hero h1 {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 10px;
    line-height: 52px;
}

.hero p {
    font-size: 18px;
    font-weight: 100;
    line-height: 24px;
}

.hero img {
    width: 40%;
}

.hero a {
    background-color: #d98e04;
    color: white;
    padding: 18px 80px;
    border-radius: 6px;
    font-size: 18px;
    border: none;
    margin-top: 22px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.hero a:hover {
    background-color: #e99a08;
    transition-duration: .5s;
}

.hero a:active {
    background-color: #d98e04;
}

@media (max-width: 999px) {
    .hero {
        display: block;
        margin: 0;
    }

    .hero img {
        display: block;
        width: 100%;
        margin: 24px auto;
    }

    .hero a {
        width: 100%;
        margin: 0;
        margin-top: 14px;
        text-align: center;
    }

    .hero h1 {
        font-size: 32px;
        line-height: 36px;
    }

    .hero p {
        font-size: 14px;
        line-height: 22px;
    }
}

#produtos {
    display: flex;
    margin: 6% auto;
}

.produto-seguro {
    padding: 40px;
    border-radius: 16px;
    background-color: #d98e04;
    margin-left: 10px;
}

.produto-seguro:hover {
    background-color: #034159;
    transition: .5s all;
}

.produto-seguro a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.produto-seguro .copy {
    margin-left: 40px;
}

.produto-seguro h2 {
    color: white;
}

.produto-seguro p {
    font-weight: 200;
    color: white;
    line-height: 22px;
    margin: 20px 0;
}

.produto-seguro img {
    width: 26%;
}

.produto-seguro .btn-seguro {
    border: 1.5px white solid;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 6px;
}

#sobre-nos {
    background-color: #034159;
}

.dimensao-sobre-nos {
    width: 1366px;
    margin: auto;
    padding: 80px 0;
}

#sobre-nos img {
    width: 6%;
    margin: 0 auto 18px;
    display: block;
}

#sobre-nos h3 {
    color: white;
    font-weight: 100;
    font-size: 16px;
    text-align: center;
}

#sobre-nos h2 {
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 10px 0;
}

#sobre-nos p {
    color: white;
    font-weight: 100;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    width: 60%;
    margin: auto;
}

.corretoras-seguros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    margin: 120px 66px;
}

.corretoras-seguros img {
    width: 180px;
}

.corretoras-seguros #icone-mag {
    width: 120px;
}

.corretoras-seguros #icone-allianz {
    width: 180px;
}

.corretoras-seguros #icone-omint {
    width: 150px;
}

@media (max-width: 999px) {
    .corretoras-seguros {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 50px 0;
    }

    .corretoras-seguros img {
        margin: 14px auto;
        width: 30%;
    }

    .corretoras-seguros #icone-sulamerica {
        width: 120px;
    }

    .corretoras-seguros #icone-mag {
        width: 88px;
    }

    .corretoras-seguros #icone-allianz {
        width: 160px;
    }
    
    .corretoras-seguros #icone-omint {
        width: 130px;
    }
}

.artigos {
    width: 1366px;
    margin: auto;
    margin-bottom: 8%;
    display: flex;
    justify-content: space-between;
}

.artigos div {
    width: 30%;
}

.artigos h3 {
    font-size: 24px;
    text-align: left;
    line-height: 32px;
    margin: 16px 0px;
}

.artigos p {
    font-size: 18px;
    font-weight: 100;
    line-height: 24px;
}

.artigos a {
    text-decoration: none;
    margin: 16px 0;
    font-weight: 400;
}

.artigos img {
    width: 100%;
}

.artigos .leia-mais {
    width: 22px;
    margin-left: 10px;
}

.artigos .btn-leia-mais {
    display: flex;
    align-items: center;
}

@media (max-width: 999px) {
    .artigos {
        width: 100%;
        display: block;
    }
    
    .artigos div {
        margin: auto;
        width: 90%;
        margin-bottom: 40px;
    }
}

/*Viagem
- seguro-card
- seguro-card-conteudo
- seguro-card-apresentacao
- seguro-card-apresentacao-beneficios
- seguro-card-headline
- seguro-card-apresentacao-beneficio
- seguro-card-conteudo-button
*/
.familia-mobile {
    display: none;
}

.new-york-mobile {
    display: none;
}

.mulher-no-carro-mobile {
    display: none;
}

.seguro-card {
    margin: auto;
    padding: 80px 0;
}

.seguro-card-conteudo {
    width: 1366px;
    margin: auto;
}

.seguro-card-apresentacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seguro-card-apresentacao-beneficios {
    width: 35%;
}

.seguro-card-apresentacao-beneficios div {
    margin-bottom: 60px;
}

.seguro-card-apresentacao-beneficio h4 {
    font-size: 28px;
    margin-bottom: 20px;
}

.seguro-card-apresentacao-beneficio p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
}

.seguro-card-headline h3 {
    font-size: 16px;
    font-weight: 200;
    color: #1dbeb2;
    margin-bottom: 12px;
}

.seguro-card-headline h2 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 12px;
    line-height: 50px;
}

.seguro-card-headline p {
    font-size: 18px;
    font-weight: 100;
    line-height: 30px;
}


.seguro-card-imagem {
    width: 50%;
    border-radius: 200px 0px 200px 0px;
}

.seguro-card-conteudo-button {
    background-color: #d98e04;
    color: white;
    padding: 18px 80px;
    border-radius: 6px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    display: block;
    text-decoration: none;
    font-weight: 100;
    width: 100%;
    text-align: center;
}

.seguro-card-conteudo-button:hover {
    background-color: #e99a08;
    transition-duration: .5s;
}

.seguro-card-conteudo-button:active {
    background-color: #d98e04;
}

#bg-color-residencia {
    height: 100%;
    padding: 80px 0;
}

#bg-color-residencia h4 {
    color: #022728;
}

#bg-color-residencia h3 {
    color: #022728;
}

#bg-color-residencia h2 {
    color: #022728;
}

#bg-color-residencia p {
    color: #022728;
}

#bg-color-viagem {
    background-color: #034159;
}

/**/
@media (max-width: 999px) {
    .seguro-card {
        padding: 0;
    }

    #padding-viagem {
        padding: 60px 0;
    }

    .seguro-card-conteudo {
        width: 90%;
    }

    .seguro-card-apresentacao-beneficios {
        width: 100%;
    }

    .seguro-card-apresentacao-beneficios div {
        margin-bottom: 20;
    }

    .seguro-card-headline h3 {
        font-size: 18px;
        font-weight: 200;
        color: #1dbeb2;
    }

    .seguro-card-headline h2 {
        font-size: 40px;
        font-weight: 900;
        line-height: 49px;
    }

    .familia-mobile {
        display: block;
        width: 100%;
        border-radius: 80px 0px 80px 0px;
        margin: 30px 0;
    }

    .new-york-mobile {
        display: block;
        width: 100%;
        border-radius: 80px 0px 80px 0px;
        margin: 30px 0;
    }

    .mulher-no-carro-mobile {
        display: block;
        width: 100%;
        border-radius: 80px 0px 80px 0px;
        margin: 30px 0;
    }

    .seguro-card-imagem {
        display: none;
    }
}

/* Estilos de Apresentação deSeguros*/

footer {
    background-color: #022728;
    font-weight: 300;
}

footer .footer-menus {
    display: flex;
    justify-content: space-between;
    width: 1366px;
    margin: auto;
    padding: 60px 0;
}

footer .footer-menus h4 {
    color: white;
}

footer .menu-secundario {
    line-height: 30px;
}

footer .menu-secundario h4 {
    color: white;
}

footer img {
    width: 120px;
    margin-bottom: 20px;
}

footer p {
    font-size: 14px;
    color: white;
    font-weight: 100;
}

footer a {
    font-size: 14px;
    color: white;
    font-weight: 100;
    text-decoration: none;
    display: flex;
}

footer .footer-menus p {
    padding: 10px 0;
}

footer .direitos-reservados {
    border: 1px solid rgb(129, 129, 129);
    padding: 20px 0;
    border-left-color: #022728;
    border-right-color: #022728;
    border-bottom-color: #022728;
}

footer .direitos-reservados p {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
}

@media (max-width: 999px) {
    footer {
        background-color: #022728;
        font-weight: 300;
    }

    footer .footer-menus {
        width: 80%;
        display: block;
        justify-content: space-between;
    }

    footer .menu-secundario {
        padding-top: 20px;
    }

    footer .footer-menus p {
        padding: 8px 0;
    }
}