@import url("https://use.typekit.net/hwn4thy.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "greycliff-cf", sans-serif;
    color: #022728;
}

.card-promocional {
    background-color: #022728;
    padding: 12px;
    align-items: center;
}

.card-promocional div {
    max-width: 908px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: auto;
}


.card-promocional strong {
    color: white;
}

.card-promocional p {
    font-weight: 300;
    color: white;
}

.card-promocional button {
    background-color: #d98e04;
    color: white;
    padding: 8px 28px;
    border-radius: 6px;
    font-size: 16px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 414px) {
    .card-promocional div {
        margin: 6px 0px;
        display: block;
        text-align: center;
    }

    .card-promocional button {
        margin-top: 10px;
    }
}

header {
    width: 1366px;
    margin: 25px auto;
}

@media (max-width: 414px) {
    header {
        width: 90%;
    }
}

.menu-principal {
    display: flex;
    justify-content: space-between;
}

.menu-principal .logo-zohar {
    width: 145px;
}

.menu-principal menu a {
    margin: 0 10px;
    font-weight: 300;
    text-decoration: none;
}

.menu-principal menu a img {
    margin-left: 4px;
}

@media (max-width: 414px) {
    .menu-principal menu a {
        display: none;
    }

    .menu-principal .logo-zohar {
        margin-bottom: 40px;
    }
}

.btn-contato {
    background-color: #d98e04;
    color: white;
    padding: 8px 44px;
    border-radius: 6px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.menu-principal menu {
    display: flex;
    align-items: center;
}

.menu-principal menu a img {
    width: 10px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 76px;
}

.hero div {
    max-width: 580px;
}

.hero h1 {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 10px;
    line-height: 52px;
}

.hero p {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}

.hero img {
    width: 480px;
}

.hero button {
    background-color: #d98e04;
    color: white;
    padding: 18px 80px;
    border-radius: 6px;
    font-size: 18px;
    border: none;
    margin-top: 34px;
    cursor: pointer;
}

@media (max-width: 414px) {
    .hero {
        display: block;
        margin: 0;
    }

    .hero img {
        display: block;
        width: 100%;
        margin: 40px auto;
    }

    .hero button {
        width: 100%;
    }

    .hero h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .hero p {
        font-size: 14px;
        line-height: 22px;
    }
}

.corretoras-seguros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    margin: 86px 66px;
}

.corretoras-seguros img {
    width: 180px;
}

.corretoras-seguros #icone-mag {
    width: 120px;
}

.corretoras-seguros #icone-allianz {
    width: 180px;
}

.corretoras-seguros #icone-omint {
    width: 150px;
}

@media (max-width: 414px) {
    .corretoras-seguros {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        margin-bottom: 42px;
    }

    .corretoras-seguros img {
        margin: 14px auto;
        width: 30%;
    }

    .corretoras-seguros #icone-sulamerica {
        width: 120px;
    }

    .corretoras-seguros #icone-mag {
        width: 90px;
    }

    .corretoras-seguros #icone-allianz {
        width: 160px;
    }
    
    .corretoras-seguros #icone-omint {
        width: 130px;
    }
}

.artigos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8%;
}

.artigos div {
    width: 30%;
}

.artigos h3 {
    font-size: 24px;
    text-align: left;
    line-height: 32px;
    margin: 16px 0px;
}

.artigos p {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}

.artigos a {
    text-decoration: none;
    margin: 16px 0;
    font-weight: 400;
}

.artigos img {
    width: 100%;
}

.artigos .btn-leia-mais {
    display: flex;
    width: 100%;
    align-items: center;
}

.artigos .leia-mais {
    width: 22px;
    margin-left: 10px;
}

@media (max-width: 414px) {
    .artigos {
        display: block;
    }

    .artigos div {
        width: 100%;
        margin-bottom: 40px;
    }
}

.seguro-residencial-text {
    width: 32%;
    margin: auto;
}

.seguro-residencial aside {
    border: 1.9px solid white;
    width: 220px;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 200px;
}

.seguro-residencial aside .card-destaque {
    display: flex;
    align-items: center;
}

.seguro-residencial aside .card-destaque img {
    width: 26px;
    margin-right: 12px;
    margin-left: 12px;
}

.seguro-residencial aside h6 {
    color: white;
    font-size: 16px;
    font-weight: 200;
}

.seguro-residencial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #034159;
}

.seguro-residencial h3 {
    color: white;
    font-size: 42px;
    line-height: 40px;
    margin-bottom: 16px;
}

.seguro-residencial .btn-seguro-residencial-inicial {
    background-color: #d98e04;
    color: white;
    padding: 8px 26px;
    border-radius: 6px;
    font-size: 18px;
    border: none;
    margin: 16px 0;
    cursor: pointer;
}

.seguro-residencial h4 {
    color: white;
    font-size: 22px;
    margin-bottom: 14px;
}

.seguro-residencial .beneficios {
    margin-top: 70px;
    width: 80%;
}

.seguro-residencial p {
    color: white;
    line-height: 24px;
    font-size: 16px;
    font-weight: 300;
}

.seguro-residencial img {
    width: 50%;
}

.seguro-residencial .familia-mobile {
    display: none;
}

.seguro-residencial .mulher-no-carro-mobile {
    display: none;
}

.seguro-residencial .btn-cta-final {
    background-color: #d98e04;
    color: white;
    padding: 18px 80px;
    border-radius: 6px;
    font-size: 18px;
    border: none;
    margin-top: 60px;
    cursor: pointer;
}

@media (max-width: 414px) {
    .seguro-residencial aside {
        border: 1.9px solid white;
        width: 190px;
        padding: 8px;
    }
    
    .seguro-residencial aside .card-destaque img {
        width: 24px;
    }
    
    .seguro-residencial aside h6 {
        font-size: 12px;
    }
    
    .img-familia {
        display: none;
    }

    .seguro-residencial-text {
        padding: 60px 0;
    }

    .seguro-residencial-text {
        width: 90%;
    }

    .seguro-residencial .btn-cta-final {
        width: 100%;
    }

    .seguro-residencial h3 {
        color: white;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 16px;
    }
    
    .seguro-residencial .familia-mobile {
        display: block;
        width: 100%;
    }

    .seguro-residencial .mulher-no-carro-mobile {
        display: block;
        width: 100%;
    }

    .seguro-residencial .btn-seguro-residencial-inicial {
        margin: 20px 0;
    }

    .seguro-residencial h4 {
        color: white;
        font-size: 20px;
        margin-bottom: 14px;
        line-height: 28px;
    }
    
    .seguro-residencial .classe-beneficios {
        margin-top: -36px;
    }
}

.seguro-viagem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seguro-viagem-text {
    width: 38%;
    margin: auto;
}

.seguro-viagem aside {
    border: 1px solid #022728;
    width: 220px;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 200px;
}

.seguro-viagem aside .card-destaque {
    display: flex;
    align-items: center;
}

.seguro-viagem aside .card-destaque img {
    width: 46px;
    margin-right: 12px;
    margin-left: 12px;
}

.seguro-viagem aside h6 {
    color: #022728;
    font-size: 16px;
    font-weight: 200;
}

.seguro-viagem h3 {
    color: #022728;
    font-size: 42px;
    line-height: 40px;
    margin-bottom: 16px;
}

.seguro-viagem .btn-seguro-viagem-inicial {
    background-color: #d98e04;
    color: white;
    padding: 8px 26px;
    border-radius: 6px;
    font-size: 18px;
    border: none;
    margin: 16px 0;
    cursor: pointer;
}

.seguro-viagem h4 {
    color: #022728;
    font-size: 24px;
    margin-bottom: 14px;
}

.seguro-viagem .beneficios {
    margin-top: 70px;
    width: 70%;
}

.seguro-viagem p {
    color: #022728;
    line-height: 24px;
    font-size: 16px;
}

.seguro-viagem img {
    width: 50%;
}

.seguro-viagem .new-york-mobile {
    display: none;
}

.seguro-viagem .btn-cta-final {
    background-color: #d98e04;
    color: white;
    padding: 18px 80px;
    border-radius: 6px;
    font-size: 18px;
    border: none;
    margin-top: 60px;
    cursor: pointer;
}

@media (max-width: 414px) {
    .seguro-viagem aside {
        border: 1.9px solid #022728;
        width: 170px;
        padding: 8px;
    }

    .seguro-viagem h3 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 16px;
    }
    
    .seguro-viagem aside .card-destaque img {
        width: 28px;
    }
    
    .seguro-viagem aside h6 {
        font-size: 12px;
    }
    
    .img-new-york {
        display: none;
    }

    .seguro-viagem-text {
        width: 90%;
        padding: 60px 0;
    }

    .seguro-viagem .btn-cta-final {
        width: 100%;
    }

    .seguro-viagem .new-york-mobile {
        display: block;
        width: 100%;
    }

    .seguro-viagem .classe-beneficios {
        margin-top: -36px;
    }
}

@media (max-width: 414px) {
    .img-mulher-no-carro {
        display: none;
    }
}

footer {
    background-color: #022728;
    font-weight: 300;
}

footer .footer-menus {
    display: flex;
    justify-content: space-between;
    width: 1366px;
    margin: auto;
    padding: 60px 0;
}

footer .footer-menus h4 {
    color: white;
}

footer .menu-secundario {
    line-height: 30px;
}

footer .menu-secundario h4 {
    color: white;
}

footer img {
    width: 120px;
    margin-bottom: 20px;
}

footer p {
    font-size: 14px;
    color: white;
    font-weight: 300;
}

footer a {
    font-size: 14px;
    color: white;
    font-weight: 300;
    text-decoration: none;
    display: flex;
}

footer .footer-menus p {
    padding: 10px 0;
}

footer .direitos-reservados {
    border: 1px solid rgb(129, 129, 129);
    padding: 20px 0;
    border-left-color: #022728;
    border-right-color: #022728;
    border-bottom-color: #022728;
}

footer .direitos-reservados p {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
}

@media (max-width: 414px) {
    footer {
        background-color: #022728;
        font-weight: 300;
    }

    footer .footer-menus {
        width: 80%;
        display: block;
        justify-content: space-between;
    }

    footer .menu-secundario {
        padding-top: 20px;
    }

    footer .footer-menus p {
        padding: 8px 0;
    }
}