@import url("https://use.typekit.net/hwn4thy.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "greycliff-cf", sans-serif;
    color: #022728;
}

h3 {
    font-weight: 900;
}

.card-promocional {
    background-color: #022728;
    padding: 12px;
    align-items: center;
}

.card-promocional div {
    max-width: 908px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: auto;
}


.card-promocional strong {
    color: white;
}

.card-promocional p {
    font-weight: 300;
    color: white;
}

.card-promocional a {
    background-color: #d98e04;
    color: white;
    padding: 8px 24px;
    border-radius: 6px;
    font-size: 16px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.card-promocional a:hover {
    background-color: #e99a08;
    transition-duration: .5s;
}

.card-promocional a:active {
    background-color: #d98e04;
}

@media (max-width: 999px) {
    .card-promocional div {
        margin: 6px 0px;
        display: block;
        text-align: center;
    }

    .card-promocional p {
        margin-bottom: 22px;
    }

    .card-promocional {
        padding: 16px 0;
    }
}

header {
    width: 1366px;
    margin: 25px auto;
}

@media (max-width: 999px) {
    header {
        width: 90%;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 4px;
    background-color: #022728;
    margin: 6px;
    border-radius: 100px;
}

.menu-principal .logo-zohar {
    width: 145px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin-left: 30px
}

.nav-list a {
    font-weight: 300;
    text-decoration: none;
}

@media (max-width: 999px) {
    nav {
        margin-bottom: 40px;
    }

    .nav-list {
        display: none;
    }

    .mobile-menu {
        display: block;
    }
}

.btn-contato {
    background-color: #d98e04;
    color: white;
    padding: 8px 44px;
    border-radius: 6px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.btn-contato:hover {
    background-color: #e99a08;
    transition-duration: .5s;
}

.btn-contato:active {
    background-color: #d98e04;
}

.menu-principal menu {
    display: flex;
    align-items: center;
}

.menu-principal menu a img {
    width: 10px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 76px;
}

.hero div {
    max-width: 580px;
}

.hero h1 {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 10px;
    line-height: 52px;
}

.hero p {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}

.hero img {
    width: 40%;
}

.hero a {
    background-color: #d98e04;
    color: white;
    padding: 18px 80px;
    border-radius: 6px;
    font-size: 18px;
    border: none;
    margin-top: 22px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.hero a:hover {
    background-color: #e99a08;
    transition-duration: .5s;
}

.hero a:active {
    background-color: #d98e04;
}

@media (max-width: 999px) {
    .hero {
        display: block;
        margin: 0;
    }

    .hero img {
        display: block;
        width: 100%;
        margin: 24px auto;
    }

    .hero a {
        width: 100%;
        margin: 0;
        margin-top: 14px;
        text-align: center;
    }

    .hero h1 {
        font-size: 32px;
        line-height: 36px;
    }

    .hero p {
        font-size: 14px;
        line-height: 22px;
    }
}

.corretoras-seguros {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    margin: 86px 66px;
}

.corretoras-seguros img {
    width: 180px;
}

.corretoras-seguros #icone-mag {
    width: 120px;
}

.corretoras-seguros #icone-allianz {
    width: 180px;
}

.corretoras-seguros #icone-omint {
    width: 150px;
}

@media (max-width: 999px) {
    .corretoras-seguros {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        margin-bottom: 42px;
    }

    .corretoras-seguros img {
        margin: 14px auto;
        width: 30%;
    }

    .corretoras-seguros #icone-sulamerica {
        width: 120px;
    }

    .corretoras-seguros #icone-mag {
        width: 88px;
    }

    .corretoras-seguros #icone-allianz {
        width: 160px;
    }
    
    .corretoras-seguros #icone-omint {
        width: 130px;
    }
}

.artigos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8%;
}

.artigos div {
    width: 30%;
}

.artigos h3 {
    font-size: 24px;
    text-align: left;
    line-height: 32px;
    margin: 16px 0px;
}

.artigos p {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
}

.artigos a {
    text-decoration: none;
    margin: 16px 0;
    font-weight: 400;
}

.artigos img {
    width: 100%;
}

.artigos .leia-mais {
    width: 22px;
    margin-left: 10px;
}

.artigos .btn-leia-mais {
    display: flex;
    align-items: center;
}

@media (max-width: 999px) {
    .artigos {
        display: block;
    }

    .artigos div {
        width: 100%;
        margin-bottom: 40px;
    }
}

/*Residencial*/
.seguro-residencial {
    background-image: url(imagens/bg-familia.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

/*Produto em destaque*/
.seguro-residencial-card-destaque {
    border: 1.5px solid white;
    width: 220px;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 200px;
}

.seguro-residencial-card-destaque {
    display: flex;
    align-items: center;
}

.seguro-residencial-card-destaque img {
    width: 26px;
    margin-right: 12px;
    margin-left: 12px;
}

.seguro-residencial-card-destaque h6 {
    color: white;
    font-size: 16px;
    font-weight: 200;
}

.seguro-residencial-card-destaque p {
    color: white;
    line-height: 24px;
    font-size: 16px;
    font-weight: 300;
}
/**/

.seguro-residencial-conteudo {
    width: 1366px;
    margin: auto;
    padding: 14% 0;
}

.seguro-residencial-conteudo-textos {
    width: 50%;
}

.seguro-residencial p {
    color: white;
    line-height: 24px;
    font-size: 16px;
    font-weight: 300;
}

.seguro-residencial h3 {
    color: white;
    font-size: 42px;
    line-height: 40px;
    margin-bottom: 16px;
}

.seguro-residencial-btn-seguro-residencial-inicial {
    background-color: #d98e04;
    color: white;
    padding: 8px 26px;
    border-radius: 6px;
    font-size: 18px;
    border: none;
    margin: 16px 0;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.seguro-residencial-btn-seguro-residencial-inicial:hover {
    background-color: #e99a08;
    transition-duration: .5s;
}

.seguro-residencial-btn-seguro-residencial-inicial:active {
    background-color: #d98e04;
}

.seguro-residencial-beneficios {
    margin-top: 70px;
    width: 80%;
}

.seguro-residencial h4 {
    color: white;
    font-size: 22px;
    margin-bottom: 14px;
}

.seguro-residencial-btn-cta-final {
    background-color: #d98e04;
    color: white;
    padding: 18px 80px;
    border-radius: 6px;
    font-size: 18px;
    border: none;
    margin-top: 60px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.seguro-residencial-btn-cta-final:hover {
    background-color: #e99a08;
    transition-duration: .5s;
}

.seguro-residencial-btn-cta-final:active {
    background-color: #d98e04;
}

/*Imagem para diveros dispositivos*/
.seguro-residencial .mulher-no-carro-mobile {
    display: none;
}

.familia-mobile {
    display: none;
}

@media (max-width: 999px) {
    .seguro-residencial-card-destaque {
        border: 1.5px solid white;
        width: 204px;
        padding: 10px;
    }
    
    .seguro-residencial-card-destaque img {
        width: 26px;
        margin-right: 12px;
        margin-left: 12px;
    }
    
    .seguro-residencial-card-destaque h6 {
        font-size: 14px;
    }
    
    .seguro-residencial {
        background-image: none;
        background-color: #034159;
    }

    .seguro-residencial-conteudo {
        width: 90%;
        margin: auto;
    }

    .seguro-residencial-conteudo-textos {
        width: 100%;
    }

    .seguro-residencial-todos-beneficios {
        margin: -3em 0;
    }

    .seguro-residencial p {
        line-height: 24px;
        font-size: 14px;
    }
    
    .seguro-residencial h3 {
        font-size: 34px;
        line-height: 40px;
    }

    .familia-mobile {
        width: 100%;
        display: block;
        margin-top: 10px;
        border-radius: 30px 0px;
    }

    .seguro-residencial-btn-cta-final {
        width: 100%;
        text-align: center;
    }

}
/*Viagem*/
.seguro-viagem {
    background-image: url(imagens/bg-new-york.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.new-york-mobile {
    display: none;
}

/*Produto em destaque*/
.seguro-viagem-card-destaque {
    border: 1.5px solid #022728;
    width: 206px;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 200px;
}

.seguro-viagem-card-destaque {
    display: flex;
    align-items: center;
}

.seguro-viagem-card-destaque img {
    width: 38px;
    margin-right: 12px;
    margin-left: 12px;
}

.seguro-viagem-card-destaque h6 {
    color: #022728;
    font-size: 16px;
    font-weight: 200;
}

.seguro-viagem-card-destaque p {
    color: #022728;
    line-height: 24px;
    font-size: 16px;
    font-weight: 300;
}
/**/

.seguro-viagem-conteudo {
    width: 1366px;
    margin: auto;
    padding: 14% 0;
}

.seguro-viagem-conteudo-textos {
    width: 50%;
    margin-left: 50em;
}

.seguro-viagem p {
    color: #022728;
    line-height: 24px;
    font-size: 16px;
    font-weight: 300;
}

.seguro-viagem h3 {
    color: #022728;
    font-size: 42px;
    line-height: 52px;
    margin-bottom: 16px;
}

.seguro-viagem-btn-seguro-viagem-inicial {
    background-color: #d98e04;
    color: white;
    padding: 8px 26px;
    border-radius: 6px;
    font-size: 18px;
    border: none;
    margin: 16px 0;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.seguro-viagem-btn-seguro-viagem-inicial:hover {
    background-color: #e99a08;
    transition-duration: .5s;
}

.seguro-viagem-btn-seguro-viagem-inicial:active {
    background-color: #d98e04;
}

.seguro-viagem-beneficios {
    margin-top: 70px;
    width: 80%;
}

.seguro-viagem h4 {
    color: #022728;
    font-size: 22px;
    margin-bottom: 14px;
}

.seguro-viagem-btn-cta-final {
    background-color: #d98e04;
    color: white;
    padding: 18px 80px;
    border-radius: 6px;
    font-size: 18px;
    border: none;
    margin-top: 60px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.seguro-viagem-btn-cta-final:hover {
    background-color: #e99a08;
    transition-duration: .5s;
}

.seguro-viagem-btn-cta-final:active {
    background-color: #d98e04;
}

@media (max-width: 999px) {
    .seguro-viagem-card-destaque {
        border: 1.5px solid #022728;
        width: 204px;
        padding: 10px;
    }
    
    .seguro-viagem-card-destaque img {
        width: 26px;
        margin-right: 12px;
        margin-left: 12px;
    }
    
    .seguro-viagem-card-destaque h6 {
        font-size: 14px;
    }
    
    .seguro-viagem {
        background-image: none;
        background-color: white;
    }

    .seguro-viagem-conteudo {
        width: 90%;
        margin: auto;
    }

    .seguro-viagem-conteudo-textos {
        width: 100%;
        margin: 0;
    }

    .seguro-viagem-todos-beneficios {
        margin: -3em 0;
    }

    .seguro-viagem p {
        line-height: 24px;
        font-size: 14px;
    }
    
    .seguro-viagem h3 {
        font-size: 34px;
        line-height: 40px;
    }

    .new-york-mobile {
        width: 100%;
        display: block;
        margin-top: 10px;
        border-radius: 30px 0px;
    }

    .seguro-viagem-btn-cta-final {
        width: 100%;
        text-align: center;
    }
}
/*Seguro Automotivo*/
.seguro-automotivo {
    background-image: url(imagens/bg-seguro-automotivo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.mulher-no-carro-mobile {
    display: none;
}

/*Produto em destaque*/
.seguro-automotivo-card-destaque {
    border: 1.5px solid white;
    width: 220px;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 200px;
}

.seguro-automotivo-card-destaque {
    display: flex;
    align-items: center;
}

.seguro-automotivo-card-destaque img {
    width: 26px;
    margin-right: 12px;
    margin-left: 12px;
}

.seguro-automotivo-card-destaque h6 {
    color: white;
    font-size: 16px;
    font-weight: 200;
}

.seguro-automotivo-card-destaque p {
    color: white;
    line-height: 24px;
    font-size: 16px;
    font-weight: 300;
}
/**/

.seguro-automotivo-conteudo {
    width: 1366px;
    margin: auto;
    padding: 14% 0;
}

.seguro-automotivo-conteudo-textos {
    width: 50%;
}

.seguro-automotivo p {
    color: white;
    line-height: 24px;
    font-size: 16px;
    font-weight: 300;
}

.seguro-automotivo h3 {
    color: white;
    font-size: 42px;
    line-height: 40px;
    margin-bottom: 16px;
}

.seguro-automotivo-btn-seguro-automotivo-inicial {
    background-color: #d98e04;
    color: white;
    padding: 8px 26px;
    border-radius: 6px;
    font-size: 18px;
    border: none;
    margin: 16px 0;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.seguro-automotivo-btn-seguro-automotivo-inicial:hover {
    background-color: #e99a08;
    transition-duration: .5s;
}

.seguro-automotivo-btn-seguro-automotivo-inicial:active {
    background-color: #d98e04;
}

.seguro-automotivo-beneficios {
    margin-top: 70px;
    width: 80%;
}

.seguro-automotivo h4 {
    color: white;
    font-size: 22px;
    margin-bottom: 14px;
}

.seguro-automotivo-btn-cta-final {
    background-color: #d98e04;
    color: white;
    padding: 18px 80px;
    border-radius: 6px;
    font-size: 18px;
    border: none;
    margin-top: 60px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.seguro-automotivo-btn-cta-final:hover {
    background-color: #e99a08;
    transition-duration: .5s;
}

.seguro-automotivo-btn-cta-final:active {
    background-color: #d98e04;
}

@media (max-width: 999px) {
    .seguro-automotivo-card-destaque {
        border: 1.5px solid white;
        width: 204px;
        padding: 10px;
    }
    
    .seguro-automotivo-card-destaque img {
        width: 26px;
        margin-right: 12px;
        margin-left: 12px;
    }
    
    .seguro-automotivo-card-destaque h6 {
        font-size: 14px;
    }
    
    .seguro-automotivo {
        background-image: none;
        background-color: #034159;
    }

    .seguro-automotivo-conteudo {
        width: 90%;
        margin: auto;
    }

    .seguro-automotivo-conteudo-textos {
        width: 100%;
    }

    .seguro-automotivo-todos-beneficios {
        margin: -3em 0;
    }

    .seguro-automotivo p {
        line-height: 24px;
        font-size: 14px;
    }
    
    .seguro-automotivo h3 {
        font-size: 34px;
        line-height: 40px;
    }

    .mulher-no-carro-mobile {
        width: 100%;
        display: block;
        margin-top: 10px;
        border-radius: 30px 0px;
    }

    .seguro-automotivo-btn-cta-final {
        width: 100%;
        text-align: center;
    }
}

footer {
    background-color: #022728;
    font-weight: 300;
}

footer .footer-menus {
    display: flex;
    justify-content: space-between;
    width: 1366px;
    margin: auto;
    padding: 60px 0;
}

footer .footer-menus h4 {
    color: white;
}

footer .menu-secundario {
    line-height: 30px;
}

footer .menu-secundario h4 {
    color: white;
}

footer img {
    width: 120px;
    margin-bottom: 20px;
}

footer p {
    font-size: 14px;
    color: white;
    font-weight: 300;
}

footer a {
    font-size: 14px;
    color: white;
    font-weight: 300;
    text-decoration: none;
    display: flex;
}

footer .footer-menus p {
    padding: 10px 0;
}

footer .direitos-reservados {
    border: 1px solid rgb(129, 129, 129);
    padding: 20px 0;
    border-left-color: #022728;
    border-right-color: #022728;
    border-bottom-color: #022728;
}

footer .direitos-reservados p {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
}

@media (max-width: 999px) {
    footer {
        background-color: #022728;
        font-weight: 300;
    }

    footer .footer-menus {
        width: 80%;
        display: block;
        justify-content: space-between;
    }

    footer .menu-secundario {
        padding-top: 20px;
    }

    footer .footer-menus p {
        padding: 8px 0;
    }
}